<div class="nav-links">
  <a href="/" class="border border-neutral-900 px-2 py-1 rounded-lg">Home</a>
  <a href="/about" class="border border-neutral-900 px-2 py-1 rounded-lg">About</a>
  <a href="/blog" class="border border-neutral-900 px-2 py-1 rounded-lg">Blog</a>
</div>